
        .main {
  margin-left: 260px;
  font-size: 25px; 
2}
        
        .roll{
  width: 245px;
  background-color: black;
  position: fixed;
            height: 100%;
  overflow:auto;
  top: 0;
  left:0;
      margin:-2px;
            
        }
        
    .roll a.yovo{
  background-color: #00ff99;
  color: fuchsia;
 padding: 35;
 margin: 20;
        margin-bottom:1px;
 margin-right: 20px;
border-radius: 15px;       
}
  
        
        .roll a:hover{
  color: fuchsia;
     background-color:#66ffff ; transition: 0.5s;
     border-radius: 30% 25% 0 0;
}
.roll a.yovo:hover{
    border-radius: 50px; 
    color: greenyellow;
    background-color: #993366;
}

        
         .roll a{
            display: block;
            background-color:black;
  padding: 2px 9px;
  text-decoration: none;
  font-size: 23.5px;
  color:white;  
             
             
        }
.fool p{
    margin: 10px;
}
#clr{
    color: green;
}
          
   
        div.content {
  margin-left: 200px;
  padding: 2px 90px;
  height: 2000px;
}

        @media screen and (max-width: 700px) {
  .roll {
    width: 100%;
    height: auto;
    position: relative;
  }
  .roll a {float: left;}
  div.content {margin-left: 0;}
}

#shift
{
    text-align: center;
    border:50px solid;
    border-left-width: 400;
    border-right-width: 400;
    border-color: plum;
    border-radius: 500px;
    
}

